{% extends('base.twig') %}

{% block title %} Erreur 404 {% endblock title %}

{% block header %}{% endblock header %}

{% block body %}
    <div class="row">
        <div class="col-lg-5 col-md-10 mx-auto">
            <div class="site-heading">
                <h1>ERREUR 404</h1>
                <span class="subheading">La page que vous recherchez n'existe pas</span>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}{% endblock footer %}
