{% extends('base.twig') %}

{% block title %} Erreur 500 {% endblock title %}

{% block header %}{% endblock header %}

{% block body %}
    <div class="row">
        <div class="col-lg-5 col-md-10 mx-auto">
            <div class="site-heading d-flex flex-column align-items-center">
                <h1>ERREUR 500</h1>
                <span class="subheading">Une erreur est survenue</span>
                <br>
                <a href="{{ asset('index.php') }}" class="btn btn-primary">Retourner à la page d'accueil</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}{% endblock footer %}
