{% extends('base.twig') %}

{% block title %} Blog - A Propos {% endblock title %}

{% block body %}
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('img/about-bg.jpg')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="page-heading">
                        <h1>Quelques informations</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <p>Actuellement en contrat pro chez OpenClassrooms, je me forme en parallèle à travers leur parcours 'Développeur d'application PHP/Symfony'.</p>
                <p>Venez consulter mon CV par <a href="img/cv.pdf">ici</a> !</p>
                <p>Pour me contacter, c'est par <a href="{{ asset('contact') }}">là</a> !</p>
            </div>
        </div>
    </div>

    <hr>
{% endblock body %}

