{% extends('base.twig') %}

{% block body %}
    <section class="admin__section--users">
        {% for user in users %}
            <ul>
                <li>{{ user.username }}</li>
            </ul>
        {% endfor %}
    </section>
{% endblock %}
