{% extends('base.twig') %}

{% block title %}Admin{% endblock %}

{% block body %}
    <section class="flexColumn">
        <div>
            <ul>
                <li><a href="{{ asset('admin/posts') }}">Posts</a></li>
                <li><a href="{{ asset('admin/comments') }}">Comments</a></li>
                <li><a href="{{ asset('admin/users') }}">Users</a></li>
            </ul>
        </div>
    </section>
{% endblock %}
