{% block comment %}
    <article>
        <div class="container">
            <div class="row">
                <div class="media mb-4">
                    <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                    <div class="media-body">
                        <h5 class="mt-0">
                            {% if comment.anonUsername is not null %}
                                {{ comment.anonUsername | capitalize }}
                            {% else %}
                                {{ comment.username | capitalize }}
                            {% endif %}
                        </h5>
                        <p>posté le {{ comment.postedAt | date("d m Y \à H:i") }} </p>
                        <p>{{ comment.content }}</p>
                    </div>
                </div>
            </div>
        </div>
    </article>
{% endblock %}

