{% extends('base.twig') %}

{% block title %} La session a expiré {% endblock title %}

{% block header %}{% endblock header %}

{% block body %}
    <div class="row">
        <div class="col-lg-5 col-md-10 mx-auto">
            <div class="site-heading">
                <h1>ERREUR</h1>
                <span class="subheading">La session a expiré, veuillez réessayer ultérieurement</span>
                <a href="{{ asset('/') }}" class="btn btn-primary">Revenir à la page d'accueil</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}{% endblock footer %}
