{% extends('base.twig') %}

{% block title %} Blog - Connexion {% endblock title %}

{% block body %}
    {% if errors is defined %}
        {% for error in errors %}
            <div class="alert alert-danger" role="alert">{{ error }}</div>
        {% endfor %}
    {% endif %}
    {% if success is defined %}
        {% for message in success %}
            <div class="alert alert-success" role="alert">{{ message }}</div>
        {% endfor %}
    {% endif %}
    <div class="card my-4 commentForm loginForm">
        <h5 class="card-header">Connexion</h5>
        <div class="card-body">
            <form action="{{ asset('login') }}" method="post">
                <div class="form-group">
                    <label for="username">Identifiant</label>
                    <input class="form-control" name="username">
                    <label for="password">Mot de passe</label>
                    <input class="form-control" type="password" name="password">
                    <input type="hidden" name="token" id="token" value="{{ token }}"/>
                </div>
                <button type="submit" class="btn btn-primary" name="submit">Se connecter</button>
            </form>
        </div>
    </div>


{% endblock %}

{% block footer %} {% endblock %}
