{% extends('base.twig') %}

{% block header %} {% endblock %}

{% block body %}

    <div class="card my-4 commentForm">
        <h5 class="card-header">Login</h5>
        <div class="card-body">
            <form action="index.php?action=login" method="post">
                <div class="form-group">
                    <input class="form-control" name="username">
                    <input class="form-control" type="password" name="password">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>


{% endblock %}

{% block footer %} {% endblock %}
