{% extends('base.twig') %}

{% block title %} Merci ! {% endblock title %}

{% block body %}
    <div class="card my-4 commentForm">
        <div class="card-body">
            <p>Merci pour votre message !</p>
        </div>
    </div>
{% endblock %}
