{% extends('base.twig') %}

{% block body %}
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">

                    <h2 class="section-heading">{{ post.title }}</h2>

                    <p>{{ post.content | nl2br }}</p>

                    <a href="#">
                        <img class="img-fluid" src="{{ asset('img/post-sample-image.jpg') }}" alt="">
                    </a>
                    <p>Placeholder text by
                        <a href="http://spaceipsum.com/">Space Ipsum</a>. Photographs by
                        <a href="https://www.flickr.com/photos/nasacommons/">NASA on The Commons</a>.</p>
                </div>
            </div>
        </div>
    </article>

    <hr>

    {% block comment %}
        {% include('comment-form.twig') %}

        {% if comments %}
            {% for comment in comments %}
                {% include('comment.twig') %}
            {% endfor %}
        {% else %}
            <article>
                <div class="container">
                    <div class="row">
                        <div class="media mb-4">
                            <p>There are no comments yet, add yours</p>
                        </div>
                    </div>
                </div>
            </article>

        {% endif %}
    {% endblock %}

{% endblock body %}
