<?php

namespace Blog\Config;

class ParametersDist
{
    public static $host = '%your_db_host%';

    public static $dbName = '%your_db_name%';

    public static $user = '%your_db_username%';

    public static $password = '%your_db_password%';

    public static $mail_host = '%mail_host%';

    public static $mail_port = '%mail_port%';

    public static $mail_username = '%your_email%';

    public static $mail_password = '%your_mail_password%';

    public static $mail_receiver = '%your_name%';
}
